@font-face {
  font-family: "Space Mono";
  src: url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
  font-family: "Orbitron";
  src: url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap");
}

body {
  background-color: rgb(160, 160, 160);
  color: rgb(56, 56, 56);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  border: solid 2px rgb(44, 44, 44);
  margin: 5px;
}

.color-box {
  font-size: 18pt;
  display: inline-block;
  position: relative;
  left: 7%;
  margin: 12px;
  text-align: center;
  height: 140px;
  width: 26%;
}

.color-box.b {
  background-color: #1d1d1d;
  color: rgb(193, 193, 193);
}

.color-box.g {
  background-color: #00e400;
  color: rgb(29, 29, 29);
}

.color-box.v {
  background-color: #8000ff;
  color: rgb(193, 193, 193);
}

.color-box.o {
  background-color: #ff6600;
  color: rgb(238, 238, 238);
}

.color-box.r {
  background-color: #631504;
  color: rgb(193, 193, 193);
}

.color-box.s {
  background-color: #c1c1c1;
  color: rgb(29, 29, 29);
}

h2 {
  position: relative;
  left: 1%;
}

.space-mono {
  font-family: "Space Mono", monospace;
}

.orbitron {
  font-family: "Orbitron";
}
